@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background: #3D5262;
  gap: 5em;
}

.logo {
  text-decoration: none;
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
  color: white;

}

nav {
  background-color: #424874;
  width: 50%;
  height: 100vh;
  margin-left: 0;
  padding: 1em;
}

ul {
  padding: 0;
}

nav ul li {
  list-style: none;
  margin-top: 1em;
}

nav ul li a {
  color: #dcd6f7;
  text-decoration: none;
}

.open {
  position: fixed;
  top: 0;
  right: 0;
}

.close {
  display: inline-block;
  width: 20%;
  margin-top: 1em;
  cursor: pointer;
  height: 2em;
}

.active {
  color: rgb(55, 222, 97);
}

@media (min-width: 500px) {

  .open,
  .close {
    display: none;
  }

  nav {
    visibility: unset;
    background-color: unset;
    position: unset;
    height: auto;
  }

  ul {
    display: flex;
    margin-top: auto;
    width: auto;
    float: right;
    margin: 0;
  }

  li a {
    color: #ADDBFF;
    display: block;
    padding: 1em;
  }


}